.weather-header {
	height: 165px;
	background-color: gray;
	padding: 10px;
}

#weather-text {
	text-align: right;
	color: white;
	font-size: large;
}

#weather {
	width: 300%;	
}

#imagewrap {
	height: 250px;
}

#lead {
	float: left;
}

.suggestion {
	clear: both;
	vertical-align: middle;
}

.suggestion p {
	text-align: left;
	margin-top: 30px;
	margin-left: 30%;
	font-size: large;
}

.suggestion img {
	width: 35%;
	float: left;
	margin-bottom: 50px;
}

.suggestion li {
	float: left;
	list-style: none;
	width: 100%;
}

#error {
	color: red;
	font-style: italic;	
}